body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
}

body {
  background-color: #eceff1;
}

.show-data {
  width: 100%;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow, adjust as needed */
}

.show-data h1 {
  text-align: center;
}

.show-data img {
  display: block;
}

.show-info {
  width: 100%;
}

@media (min-width: 800px) {
  .show-data {
    display: flex;
  }

  .show-info {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .show-data img {
    margin: auto;
  }

  .show-info p {
    text-align: center;
    padding: 10px;
  }
}
